/* цвет основного текста - #757575 */
/* Вторичный цвет текста - #212121 */
/* основной цвет фона - #FFFFFF */
/* вторичный цвет фона - #F5F4FA */
/* цвет фона footer - #2F303A */
/* акцент - #2196F3 */

:root {
  --logo-color: #000000;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --main-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --accent-color: #2196f3;
}

body {
  background-color: var(--main-bg-color);
  color: var(--primary-text-color);

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Logo */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--logo-color);
  text-decoration: none;
}

.logo-accent {
  color: var(--accent-color);
}

/* header */

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
}

.header-nav {
  align-items: center;
  display: flex;
}

.header-nav a {
  display: inline-block;
}

.mail {
  margin-left: auto;
}

.tel {
  margin-left: 50px;
}

/* Site-nav */

.site-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.site-nav.list {
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav-contacts {
}

.site-nav .link {
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--secondary-text-color);

  padding-left: 50px;
}

.site-nav .link:hover,
.site-nav .link:focus,
.mail:hover,
.mail:focus,
.tel:hover,
.tel:focus {
  color: var(--accent-color);
  cursor: pointer;
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav.list,
.filter-list.list,
.feature-list.list,
.work-list.list,
.team-list.list,
.portfolio > li {
  list-style: none;
}

.mail,
.tel {
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
}

/* hero */

.hero {
  background-color: var(--footer-bg-color);
  align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-bg-color);
}

/* features */
.feature {
  display: flex;
  margin-top: 94px;
}

.feature-title,
.work-title,
.team-title,
.filter-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: var(--secondary-text-color);
}

.feature-title {
}

.feature-list .title {
  font-weight: 700;
  line-height: 1.1;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.feature-list {
  display: flex;
}

.feature-list li:not(:first-child) {
  margin-left: 30px;
}

.feature-list p {
  margin-top: 10px;
}
/* team */

.team {
  background-color: var(--secondary-bg-color);
}

.team-list .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: var(--secondary-text-color);
}

.team-list p {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

/* button */

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--main-bg-color);
  align-items: center;
}

.button.primary {
  color: var(--main-bg-color);
  background-color: var(--accent-color);
}

/* footer */

footer {
  background-color: var(--footer-bg-color);
}
address {
  font-style: normal;
  color: var(--main-bg-color);
}

.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--main-bg-color);
}

/* portfolio page */

.button.secondary {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: var(--secondary-text-color);
}

.button.secondary:hover,
.button.secondary:focus {
  color: var(--main-bg-color);
  background-color: var(--accent-color);
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--secondary-text-color);
}

.portfolio p {
  font-size: 16px;
  line-height: 1.9;
}
